* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "Roboto";
}

body {
    background: linear-gradient(150deg, #0F2B05, #000000);
    height: 100vh;
    text-align: center;
}

header {
    padding: 2rem;
}

.card {
    background-image: url(./assets/bg-explorer.svg);
    width: 354px;
    height: 508px;
    display: inline-block;
    
    cursor: pointer;

    opacity: 0;
    transform: translateY(-100px);
    animation: appear .5s forwards;

    user-select: none;
    -webkit-user-select: none;
}

.card > img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #F7DD43;
    margin-top: 115px;

    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
} 

.info {
    color: white;
    text-align: left;
    margin-left: 70px;
    margin-top: 98px;
}

.info h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}

.info p {
    font-size: 14px;
    line-height: 160%;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
